.root {
	position: relative;
	display: block;
	width: 100%;
}

.input {
	width: 100%;
	height: var(--control-height);
	padding: 10px;
	border: 1px solid var(--pearl-gray);
	border-radius: 0;
	/*border-radius: var(--control-radius);*/
	/*border: 1px solid var(--border);*/
	/*background: var(--bg);*/
	/*color: var(--text);*/
	outline: none;
	/*padding: 0 var(--control-pad-x);*/
	font-size: 15px;
	line-height: 1;
	transition: border-color .15s ease, box-shadow .15s ease, background-color .15s ease;
}

.withLabel {
	height: 48px;
	padding: 18px 10px 6px;
}

.input::placeholder {
	color: var(--warm-gray);
}

.input:hover:not(:disabled) {
	border-color: var(--border-hover);
}

.input:focus {
	border-color: var(--soft-charcoal);
	/*box-shadow: 0 0 0 4px var(--focus);*/
}

/* Error */
.invalid {
	border-color: var(--red-dark);
}

.invalid:focus {
	box-shadow: 0 0 0 4px rgba(216, 115, 115, 0.15);
}

/* Disabled */
.disabled,
.input:disabled {
	background: #f6f4f2;
	color: #9b9390;
	cursor: not-allowed;
}

/* Floating label */
.label {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 15px;
	color: var(--warm-gray);
	transition: all .15s ease;
	transform-origin: left top;
	cursor: text;
}

.labelFloating {
	top: 6px;
	transform: translateY(0) scale(0.75);
}

/* Autofill detection */
@-webkit-keyframes onAutoFillStart {
	from {}

	to {}
}

@keyframes onAutoFillStart {
	from {}

	to {}
}

@-webkit-keyframes onAutoFillCancel {
	from {}

	to {}
}

@keyframes onAutoFillCancel {
	from {}

	to {}
}

.input:-webkit-autofill {
	animation-name: onAutoFillStart;
	animation-duration: 0.001s;
}

.input:not(:-webkit-autofill) {
	animation-name: onAutoFillCancel;
	animation-duration: 0.001s;
}

/* Icons */
.icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #8c8c8c;
	pointer-events: none;
}

.iconLeft {
	left: 12px;
}

.iconRight {
	right: 12px;
}